*{
    margin: 0;
    box-sizing: 0;
}

.menu{
    width: 400px;
    height: auto;
    background-color: #333333;
}

.menu1{
    width: 400px;
    height: auto;
}

.logoempresa{
    width: 400px;
    height: 154px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.foto_empresa{
    width: 343.61;
    height: 40.87;
}

.perfil{
    width: 400px;
    height: 177px;
    display: flex;
    justify-content: center;   
}

.perfilimg{
    border-radius: 100px;
}

.informacao{
    width: 400px;
    height: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: hsl(25, 99%, 55%);
    font-size: 17px;
}

.linkedin{
    width: 400px;
    height: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid, 2px ;
    color: #FE7B1D ;
    font-size: 17px;
    cursor: pointer;
}
.link{
    color: #FE7B1D;
    border-radius: 1px;
}

.quadradao{
    width: 400px;
    height: 420px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.quadradinho{
    width: 345px;
    height: 55px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    cursor: pointer;
}

.sair{
    width: 400px;
    height: 164px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sair1{
    display: flex;
    font-size: 24px;
    color: #FE7B1D;
    margin-left: 40px;
    cursor: pointer
}
