*{
    margin: 0;
    box-sizing: 0;
}

.menu{
    width: 474px;
    height: auto;
    background-color: #333333;
}

.menu1{
    width: 474px;
    height: auto;
}

.logoempresa{
    width: 474px;
    height: 154px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.foto_empresa{
    width: 343.61;
    height: 40.87;
}

.perfil{
    width: 474px;
    height: 177px;
    display: flex;
    justify-content: center;   
}

.perfilimg{
    border-radius: 100px;
}

.informacao{
    width: 474px;
    height: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #FE7B1D;
    font-size: 20px;
}

.linkedin{
    width: 474px;
    height: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid, 2px ;
    color: #FE7B1D ;
    font-size: 20px;
}
.link{
    color: #FE7B1D;
    border-radius: 1px;
}

.quadradao{
    width: 474px;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.quadradinho{
    width: 394.83px;
    height: 68.21px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 32px;
}

.sair{
    width: 474px;
    height: 164px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sair1{
    display: flex;
    font-size: 32px;
    color: #FE7B1D;
    margin-left: 40px;
}
