.tela-login{
    overflow-y: hidden;
    background-image: url(../../assets/img/ilustracao.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.quadradao{
    width: 802;
    height: auto;
}

.titulo-painel{
    color: #FE7B1D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.alinhar-inputs{
    width: 802px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.quadradao1{
    width: 410px;
    height: 410px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.input-painel{
    width: 310px;
    height: 60px;
    border-radius: 10px;
    border: none;

}

.input-painel::placeholder{
    color: #FE7B1D;
}

.btn-login{
    width: 365px;
    height: 47px;
    background-color: #FE7B1D;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

.btn-login:hover{
    background-color: #DA5B00;
}

.realizar-cadastro{
    margin-left: -12%;
}
.realizar-cadastro p{
    color: white;
}

p a{
    
    color: #FE7B1D;
}