*{
    margin: 0;
    box-sizing: 0;
}

.Quadradao1{
    width: 100%;
    height: 100%;
    display: flex;
}

.quadradao2{
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BFBFBF;
}

.quadradao3{
    width: 1109px;
    height: 1011px;
}

.topo{
    width: 1109px;
    height: 135px;
    
    display: flex;
    justify-content: space-around;

}

.topo1{
    font-size: 20px;
    margin-top: 30px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
}

.topo1{
    width: 500px;
    height: 30px;
    font-size: 20px;
    margin-top: 30px;
}

.topo2{
    font-size: 20px;
    color: #FE7B1D;
    margin-top: 30px;
}


.vagas{
    width: 1109px;
    height: 872px;
}
.Vagas-form{
    width: 1109px;
    height: 872px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius:  50px;
    box-shadow: -4px -2px 4px 2px rgba(50, 50, 50, 0.3);
}

.Vagas-form-input-container{
    width: 500px;
    height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    
}
.Vagas-form-input-container label{
    font: var(--font-label);
    font-size: 20px;
    color: rgba(50, 50, 50, 0.5);
    
    
}
.Vagas-form-input-container input, select{
    border: none;
    background-color: transparent;
    border-bottom: 5px solid black;
    font-size: 22px;
    width: 450px;
    border-bottom: 2px solid rgba(50, 50, 50, 0.5);
    line-height: 40px;
}

.butao{
    border: none;
    width: 427.14px;
    height: 68px;
    background-color: #FE7B1D;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
}